<!DOCTYPE html>
<html>
<head>
    <title>About Project</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<nav>

<a href="/">Home</a>


<a href="/digitaltwin">Digital Twin</a>

<a href="/fertilizer">Fertilizer</a>

<a href="/history">History</a>

<a href="/queries">Queries</a>

<a href="/login">Login</a>

<a href="/register">Create Account</a>

<a href="/about">About</a>

</nav>

<div class="container">

<h1>About Project</h1>

<h2>Objective</h2>

<p>
Recommend suitable fertilizers using AI and sensor data.
</p>

<h2>Components</h2>

<ul>
    <li>ESP32</li>
    <li>DHT11 Temperature & Humidity Sensor</li>
    <li>Soil Moisture Sensor</li>
    <li>pH Sensor</li>
    <li>NPK Sensor</li>
</ul>

<h2>Architecture</h2>

<p>
Sensors
<br>↓<br>
ESP32
<br>↓<br>
Database
<br>↓<br>
AI Model
<br>↓<br>
Fertilizer Recommendation
<br>↓<br>
Digital Twin Website
</p>

<h2>Project Features</h2>

<ul>
    <li>User Registration & Login</li>
    <li>Fertilizer Recommendation using AI</li>
    <li>Prediction History Tracking</li>
    <li>Digital Twin Monitoring</li>
    <li>Farmer Query Support</li>
</ul>

</div>

</body>
</html>