<!DOCTYPE html>
<html>

<head>
    <title>Digital Twin Farm</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<nav>

<a href="/">Home</a>

<a href="/fertilizer">Fertilizer</a>

<a href="/digitaltwin">Digital Twin</a>

<a href="/history">History</a>

<a href="/about">About</a>




</nav>

<h1>🌾 Digital Twin Farm</h1>

<div class="card">

<h2>🌾 Virtual Farm Status</h2>

<h3>📡 Live Sensor Data</h3>

<p><b>Temperature:</b> {{ sensor.temperature }} °C</p>

<p><b>Humidity:</b> {{ sensor.humidity }} %</p>

<p><b>Soil Moisture:</b> {{ sensor.soil }}</p>

<p><b>pH Value:</b> {{ sensor.ph }}</p>

<p><b>Nitrogen:</b> {{ sensor.nitrogen }}</p>

<p><b>Phosphorus:</b> {{ sensor.phosphorus }}</p>

<p><b>Potassium:</b> {{ sensor.potassium }}</p>

<hr>

{% if farm %}

<p><b>Crop:</b> {{ farm.crop }}</p>

<p><b>Soil Type:</b> {{ farm.soil }}</p>

<p>
<b>Recommended Fertilizer:</b>
<span style="color:green;">
{{ farm.fertilizer }}
</span>
</p>

{% else %}

<p>No Fertilizer Prediction Yet</p>

{% endif %}

</body>
</html>