<!DOCTYPE html>
<html>

<head>

    <title>Digital Twin Farm</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<nav>

    <a href="/home">Home</a>

    <a href="/fertilizer">Fertilizer</a>

    <a href="/digitaltwin">Digital Twin</a>

    <a href="/history">History</a>

    <a href="/analytics">Analytics</a>

    <a href="/about">About</a>

</nav>

<h1>🌾 Digital Twin Farm</h1>

<div class="card">

    <h2>🌿 Virtual Farm Status</h2>

    <h3>📡 Live Sensor Data</h3>

    <p><b>🌡 Temperature :</b> {{ sensor.temperature }} °C</p>

    <p><b>💧 Humidity :</b> {{ sensor.humidity }} %</p>

    <p><b>🌱 Soil Moisture :</b> {{ sensor.soil }}</p>

    <p><b>🌧 Rainfall :</b> {{ sensor.rain }}</p>

    <p><b>⚗ pH :</b> {{ sensor.ph }}</p>

    <hr>

    {% if farm %}

    <h3>🌱 Farm Information</h3>

    <p><b>Crop :</b> {{ farm.crop }}</p>

    <p><b>Soil Type :</b> {{ farm.soil }}</p>

    <p><b>Nitrogen :</b> {{ farm.nitrogen }}</p>

    <p><b>Phosphorus :</b> {{ farm.phosphorus }}</p>

    <p><b>Potassium :</b> {{ farm.potassium }}</p>

    <p>

        <b>🌿 Recommended Fertilizer :</b>

        <span style="color:green;
                     font-size:22px;
                     font-weight:bold;">

            {{ farm.fertilizer }}

        </span>

    </p>

    {% else %}

    <h3 style="color:gray;">
        No Fertilizer Prediction Yet
    </h3>

    {% endif %}

</div>

</body>

</html>