<!DOCTYPE html>
<html>

<head>
    <title>Fertilizer Recommendation</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<nav>

<a href="/home">Home</a>

<a href="/fertilizer">Fertilizer</a>

<a href="/digitaltwin">Digital Twin</a>

<a href="/history">History</a>

<a href="/about">About</a>


</nav>

<h1>🧪 Fertilizer Recommendation</h1>

<div class="container">

       {% if fertilizer %}

<div class="result-box">

<h3>🌿 Recommended Fertilizer</h3>

<h2>{{ fertilizer }}</h2>

</div>

{% endif %}

<form action="/predict" method="POST">

<h2>Enter Parameter Details</h2>

<label class="field-label">Crop</label>

<select name="crop" required>
    <option value="">Select Crop</option>

    <option value="Cotton" {% if farm and farm.crop=="Cotton" %}selected{% endif %}>Cotton</option>

    <option value="Maize" {% if farm and farm.crop=="Maize" %}selected{% endif %}>Maize</option>

    <option value="Potato" {% if farm and farm.crop=="Potato" %}selected{% endif %}>Potato</option>

    <option value="Rice" {% if farm and farm.crop=="Rice" %}selected{% endif %}>Rice</option>

    <option value="Sugarcane" {% if farm and farm.crop=="Sugarcane" %}selected{% endif %}>Sugarcane</option>

    <option value="Tomato" {% if farm and farm.crop=="Tomato" %}selected{% endif %}>Tomato</option>

    <option value="Wheat" {% if farm and farm.crop=="Wheat" %}selected{% endif %}>Wheat</option>
</select>

<br><br>

<label class="field-label">Soil Type</label>

<select name="soil" required>
    <option value="">Select Soil</option>

    <option value="Clay" {% if farm and farm.soil=="Clay" %}selected{% endif %}>Clay</option>

    <option value="Loamy" {% if farm and farm.soil=="Loamy" %}selected{% endif %}>Loamy</option>

    <option value="Sandy" {% if farm and farm.soil=="Sandy" %}selected{% endif %}>Sandy</option>

    <option value="Silt" {% if farm and farm.soil=="Silt" %}selected{% endif %}>Silt</option>
</select>

<h2>Live Sensor Data</h2>

<div class="result-box">

<p><b>Temperature:</b> {{ sensor.temperature }} °C</p>

<p><b>Humidity:</b> {{ sensor.humidity }} %</p>

<p><b>Soil Moisture:</b> {{ sensor.soil }}</p>

<p><b>pH:</b> {{ sensor.ph }}</p>

<p><b>Nitrogen:</b> {{ sensor.nitrogen }}</p>

<p><b>Phosphorus:</b> {{ sensor.phosphorus }}</p>

<p><b>Potassium:</b> {{ sensor.potassium }}</p>

</div>

<button type="submit">
🌱 Predict Fertilizer
</button>

</form>

</div>



</body>

</html>