<!DOCTYPE html>
<html>
<head>
    <title>Farmer Queries</title>
    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<nav>
<a href="/">Home</a>
<a href="/digitaltwin">Digital Twin</a>
<a href="/fertilizer">Fertilizer</a>
<a href="/history">History</a>
<a href="/queries">Queries</a>
<a href="/logout">Logout</a>


</nav>

<div class="card">

<h2>Ask a Question</h2>

<form action="/submit_query" method="POST">

    <input type="text"
           name="question"
           placeholder="Enter your question"
           required>

    <br><br>

    <button type="submit">
        Submit
    </button>

</form>

{% if answer %}

<div class="result-box">

<h3>❓ Your Question</h3>

<p>{{ question }}</p>

<h3>🤖 AI Response</h3>

<p>{{ answer }}</p>

</div>

{% endif %}

</div>

</body>
</html>